.grid {
    display: grid;
    grid-template-columns: 1auto 1auto 1auto;
    grid-template-rows: 1auto 1auto 1auto;
    grid-template-areas: "LeftBracket CentralContent RightBracket" "LeftBracket CentralContent RightBracket" "LeftBracket CentralContent RightBracket";
    width: auto;
  }
  
  .LeftBracket { grid-area: LeftBracket; height: 100%;}
  
  .RightBracket { grid-area: RightBracket; height: 100%;}
  
  .CentralContent { grid-area: CentralContent; height: 90%; }