/* TODO Device Styling */

html {
    height: 100%;
}

body {
    height: 100%;
}

main {
    height: 100%;
    overflow: hidden
}

#QuestionBox {
    max-width: 50%;
    min-height: 75%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    overflow: hidden;
    justify-items: center;
    row-gap: 30px;
}

#QuestionHeader {
    width: 75%;
    height: 100%;
    border: none;
    border-radius: 15px;
    background: gray;
    display: grid;
    justify-items: center;
}

#QuestionHeader p {
    border: none;
    border-radius: 15px;
    background: gray;
}

#AnswerGrid {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    overflow: hidden;
    justify-items: center;
    row-gap: 15px;
}

#AnswerGrid button {
    background-color: green;
    min-width: 50px;
    max-height: 20%;
    height: 10%;
    width: 50%;
    min-height: 30px;
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 3px #999;
}

#AnswerGrid button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}