

.dash_button {
    position:           relative;
    width:              35%;
    float:              left;
    background-color:   white;
    margin-left:        10%;
    margin-top:         3%;
    border-radius:      20px;
    height:             150px;
    border-style:       outset;
    border-color:       #3e8e41;
    border-width:       4px;
    position:           sticky;
    overflow:           auto
}

.dash_button_text: hover{
    background-color: #3e8e41;
    font-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.dash_button_text {
    line-height:        150px;
    width:              100%;
    display:            inline-block;
    text-align:         center;
    vertical-align:     middle;
    font-size:          25px;
    font-weight:        bold;
}

.dash_form_text {
    position:           absolute;
    line-height:        1.5;
    display:            inline-block;
    vertical-align:     middle;
    text-align:         right;
    margin-top:         20px;
    margin-left:        20px;
    font-size:          15px;
    font-weight:        bold;
}

a, #dash_rooms_button{
    color: #3e8e41;
}

a:hover, #dash_rooms_button:hover {
    color: white;
}

span:hover {
    background-color: #3e8e41;
}






