.updateContainer{
    position:       relative;
    background:     #f5f4f4;
    border-radius:  15px;
    border-style:   solid;
    border-color:   #3e8e41;
    width:          600px;
    height:         270px;
    margin:         20px 0px 0px 0px;
    display:        block;
    float:          left;
    clear:          both;
}
input[type=text] {
    width:      100%;
    clear:      right;
}
input[type=submit] {
    align-self:     center;
    width:          40%;
    background-color:#0078ad;
    min-width:100px;
    height:25px;
    font-size: 13px;
    color:white;
    font-weight:bold;
}
.change_un_email {
    color:          black;
    position:       absolute;
    width:          44%;
    border-radius:  24px;
    margin:         0px 4%;
    box-sizing:     border-box;
}
.change_pw {
    color:          black;
    position:       absolute;
    width:          44%;
    left:           280px;
    border-radius:  24px;
    margin:         0px 4%;
    box-sizing:     border-box;
    background-color: #white;
}
.submit_container {
    margin:         0px;
    position:       absolute;
    clear:          both;
    text-align:     center;
    top:            200px;
    left:           10%;
    width:          80%;
    box-sizing:     border-box;
}
h4 {
    color: black;
    text-align: left
    line-height: 1em;
    margin:     1em 0px 0px 0px;
}
