/* Body Region */

main {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    background-color: #0078ad;
    height: 100%;
}

header {
    margin: auto;
    background: white;
    min-height: 40px;
    
}

.nav{
    margin:auto;
    width:100%;
}

header img{
width:250px;
}

header #login{
    display:flex;
    justify-content:space-evenly;
    width:220px;
    position:absolute;
    top:.5%;
    right:1%;
}

/* User buttons--- */

.raised {
    background-color:#0078ad;
    min-width:100px;
    height:25px;
    font-size: 13px;
    color:white;
    font-weight:bold;
}

.raised:hover{
    background-color:#018744;
} 

.userbtn1{
    display:inline-block;
    width: auto;
    order:0;
}

.userbtn2{
     display:inline-block;
    order:1;
}
/*---end */

.container2 {
   background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    position: absolute;
    bottom: 0;

}
/* Q&A information --*/
.box1{
    float: left;
    width: 25%;
    background-color: white;
}

.box2{
    display: inline-block;
    width:25%;
    background-color: white;
}

.box3 {
   float: right;
   width: 25%;
}
/* -- end */
h3 {
    text-align: center;
    color: #018744;
    margin-bottom: 0px;
    margin-top: 0px;

}

ul {
    text-align: left;
    color: #018744;
    margin-bottom: 0px;
    margin-top: 0px;

}
.picture{
    text-align:center;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.sections{
    display: inline-flex;
    width:100%;
    flex-flow:row wrap;
    align-content: center;
    justify-content: space-evenly;
    height: 400px;
}

.Quiz {
    display: inline-flex;
    justify-content: space-evenly;
}


#Q {
    font-size:40px;
    border-radius: 25px;
    width: 250px;
    height: 250px;
}


.Answer {
    display: inline-flex;
    justify-content: center;
}


#A {
    font-size:40px;
    border-radius: 25px;
    width: 250px;
    height: 250px;
  }

  .Answer #A {
    font-size:larger;
    font-weight:bold;

}

/* Button Region */
/*
.grid {
    display: grid;
    grid-template-columns: 1auto 1auto 1auto;
    grid-template-rows: 1auto 1auto 1auto;
    grid-template-areas: "LeftBracket CentralContent RightBracket" "LeftBracket CentralContent RightBracket" "LeftBracket CentralContent RightBracket";
    width: auto;
    border-radius: 25px;
    font-size: 40px;
  }
  
  .LeftBracket { grid-area: LeftBracket; height: 100%;}
  
  .RightBracket { grid-area: RightBracket; height: 100%;}
  
  .CentralContent { grid-area: CentralContent; height: 90%; }

  */

img.LeftBracket, img.CentralContent{
    width:100% ;
    height:100% ;
    margin: 0 auto;
    justify-content: center;
    
}

/* MainMenu Region */

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}


/* For smaller devices---*/
@media(max-width: 600px){
    header {
        height:65px;
    }
     header .topleft{
         float:none;
     }
    
    header img{
        width:70%;
        
    }
     header #login{
       display:flex;
       flex-flow:column wrap;
       width:fit-content;
       border:none;
     }
      .userbtn1, .userbtn2{
        padding:2px; 
     }

    .container2{
        float:none;
        width:100%;
        display:flex;
        flex-flow:column wrap;
        justify-content:center;
        position: relative;

    }
    .container2 ul, .container2 li {
        margin:0;
        width:100%;
    }

    .box1, .box2, .box3{
        padding:10px;
        float:none;
        width:100%;
    }
    .picture {
        width:50px;
        height:50px;
    }
     h4{
        font-size:x-large;
        padding-top:25px;
        padding-left:50px;
     
    }
    .sections{
        width:100%;
        height:350px;
    }
    
    
    #Q, #A{
     width:175px;
        height:175px;
     }

     #logform{
     width:100%;
     }

     .noselect {
}
}