.roster_col {
    position:       relative;
    float:          left;
    font-size:      20px;
    margin:         15px;
    padding:        10px;
    border-style:   solid;
    border-color:   #3e8e41;
    border-width:   3px;
    border-radius:  15px;
    width:          400px;
    background:     #f5f4f4;
}
.roster_text {
    color:          #0078AD;
    font-size:      1.5em;
    text-align:     left;
    width:          65%;
    margin:         0px 0px 0px 6%;
    display:        block;
}
input[type=submit]{
    margin:         0px 0px 0px 6%;
    background-color:#0078ad;
    min-width:100px;
    height:25px;
    font-size: 13px;
    color:white;
    font-weight:bold;
}

input[type=submit]:hover{
    background-color: #018744;
}

input[type=submit]:visited{
    background-color: #018744;
}

.attendee_col {
    float:          left;
    font-size:      20px;
    margin:         15px;
    padding:        10px;
    border-style:   solid;
    border-color:   #3e8e41;
    border-width:   3px;
    border-radius:  15px;
    width:          400px;
    background:     #f5f4f4;
}
.attendee_text {
    color:          #0078AD;
    font-size:      1.5em;
    text-align:     left;
    width:          65%;
    margin:         0px 0px 0px 6%;
    float:          left;
}


h2{
    font-size: 35px;
    text-align: center;
    color: white;
}

h3 {
    color:          #0078AD;
    line-height:    1.5rem;
}

main {
    font-family: 'Poppins', sans-serif;
}

