/* TODO Device Styling */
.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 2.0fr 0.6fr;
  grid-template-rows: 0.6fr 1.4fr;
  grid-template-areas: "popBox QuestionHeader dirQBox" "RoomKeyBox AnswerGrid .";
}

.popBox { grid-area: popBox; }

.QuestionHeader { grid-area: QuestionHeader; }

.dirQBox { grid-area: dirQBox; }

.AnswerGrid { grid-area: AnswerGrid; }

.RoomKeyBox { grid-area: RoomKeyBox; }

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #E4E4E4;
}

main {
    height: 100%;
    overflow: visible;
    background-color: #E4E4E4;
}

button {
    background-color:#0078ad;
    width:50px;
    height:50px;
    font-size: 35px;
    color:white;
    font-weight:bold;
}

button:hover{
    background-color:#018744;
} 

}
#QuestionBox {
    max-width: 60%;
    min-height: 75%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    overflow: hidden;
    justify-items: center;
    row-gap: 30px;
}

#QuestionHeader {
    width: 50%;
    height: 50%;
    border: none;
    border-radius: 15px;
    background: white;
    display: grid;
    justify-items: center;
    border-style: solid;
    border-color: #3e8e41;
}

#QuestionHeader p {
    border: none;
    border-radius: 15px;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
}

#AnswerGrid {
    display: grid;
    width: 50%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    overflow: hidden;
    justify-items: center;
    row-gap: 15px;
}

#AnswerGrid button {
    background-color: #0078ad;
    min-width: 50px;
    max-height: 60%;
    height: 60%;
    width: 80%;
    min-height: 30px;
    padding: -10px;
    margin: 20px;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 3px #999;
    font-size: 15px;
    font-weight: bold;
}

#AnswerGrid button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

#AnswerGrid button:visited {
    background-color: #3e8e41;
}

@media(max-width:600px) {
    #QuestionBox {
        min-width: 97%;
        margin: 0;
        padding-left: 9px;
        padding-right: 3px;
    }
    #QuestionHeader {
        width: 100%;
    }
    #AnswerGrid {
        width: 100%;
    }
}

.hidden {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

#StartBox {
    position: fixed;
    top: 25%;
    right: 25%;
    width: 50%;
    height: 25%;
    background-color: white;
    border-style: solid;
    border-color: #3e8e41;
    text-align: center;
    display: flex;
}